<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :pickup_time %><br>
    <%= f.datetime_select :pickup_time %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :is_approved %><br>
    <%= f.check_box :is_approved %>
  </div>
  <div class="field">
    <%= f.label :is_picked_up %><br>
    <%= f.check_box :is_picked_up %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
